section{
    background-color: #090b11;
    width: 100;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 23%;
    padding-right: 23%;
}
.header-login{
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
    
    font-family: Ozxgen, sans-serif;
    font-size: 22px;
    border-bottom: 2px solid #70a1ff;
    background-color: black;
    color:  #70a1ff;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color:white;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
    height: 70%;
    border: 3px solid #131414;
    border-radius: 250px; 
    margin-top: 20px;
    
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aliceblue;
   
    
}

//Label
.label {
    font-family: Oxygen, sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    color:rgb(183, 240, 240);
} 


//Input
.login-input {
    
    height: 2.1em;
    border-radius: 29px; 
    border: 1px solid #70a1ff;
    padding: 13px;
    font-family: Oxygen, sans-serif;
    font-size: 19px;
    color:black; 
    background-color: rgb(157, 183, 216);
    
    
} 

.login-input:hover {
    border: 2px solid #70a1ff;
    border-radius: 10px; 
} 

.login-input:focus {
    border: 2px solid #ebebf3; 
     
}

//Input Placeholder
.login-input::placeholder {
    
    color :black;

    
    
}

.login-btn {
    padding: 2px 30px;

    border: 12px;
    font-size: 18px;
    border-radius: 12px;
    font-family: Oxygen, sans-serif;
    background-color: rgb(18, 19, 20); 
    margin-top: 20px;
    border: 2px solid  #70a1ff;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}  

.login-btn:hover,
.login-btn:focus {
    background-color: #417cef;
    color: white;
}



