* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #090b11;
  margin: 0;
  border: 0; }

.header {
  width: 100%; }

.header-container {
  width: 100%;
  height: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: black;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #091718; }

.header-title {
  margin: 0px;
  margin-top: 25px;
  width: 50%;
  color: #75b8b8;
  background: black;
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
  font-size: 30px; }

.header-subtitle {
  font-size: 25px;
  color: #2f4f4f;
  margin-bottom: 15px; }

.barnav-container {
  background-color: black;
  margin: 0px;
  width: 100%;
  padding: 5px;
  border-bottom: 4px solid #091718; }

.menu {
  height: 30px;
  background-color: black; }

.menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.menu ul li {
  display: inline-block;
  width: calc(100% / 4);
  margin: auto; }

.menu ul li a {
  color: #9ca1a1;
  display: block;
  width: calc(100% / 4);
  margin: 5px;
  padding: 5px 100px;
  text-decoration: none;
  font-family: open Verdana, Geneva, Tahoma, sans-serif; }

.navegacion li a:hover {
  color: #75b8b8;
  transition: all 0.9s; }

.footer {
  width: 100%;
  bottom: 0px;
  font-family: sans-serif; }

.footer-container {
  width: 100%;
  height: 130px;
  margin-bottom: 0px;
  background-color: black;
  border-top: 7px solid #0d2627;
  color: #2f4f4f; }

.footer-main {
  width: 98%;
  max-width: 1000px;
  margin: auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap; }

.footer-main .footer-culumna {
  width: calc(100% / 3);
  text-align: justify;
  padding: 0px; }

.footer-main .footer-culumna:nth-child(2) {
  padding: 0 20px; }

.footer-main .footer-culumna h3 {
  font-size: 20px;
  color: #2f4f4f;
  margin-bottom: 20px; }

.footer-main .footer-culumna input[type="email"] {
  border: none;
  border: 1px solid #2f4f4f;
  width: 70%;
  background: #0d2627;
  color: #000;
  font-size: 15px;
  padding: 6px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px 14px 9px 0px;
  -moz-border-radius: 12px 14px 9px 0px;
  -webkit-border-radius: 12px 14px 9px 0px; }

.footer-main .footer-culumna input[type="submit"] {
  border: none;
  margin-top: 13px;
  background: #2f4f4f;
  color: #000;
  padding: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 12px 14px 9px 0px;
  -moz-border-radius: 12px 14px 9px 0px;
  -webkit-border-radius: 12px 14px 9px 0px; }

.footer-copy {
  width: 100%;
  background: #0d2627;
  margin-bottom: 0px;
  border-top: 2px solid #2f4f4f; }

.header-inicio {
  width: 100%;
  height: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 7px solid #091718; }

.header-login {
  text-align: center;
  padding: 5px;
  margin-bottom: 0px;
  position: relative;
  font-family: Oxygen, sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #70a1ff;
  background-color: black;
  color: #70a1ff; }

.Titulo {
  margin: 0px;
  margin-top: 25px;
  width: 50%;
  color: #75b8b8;
  background: #0a0a0a;
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
  font-size: 50px; }

.ul-inicio {
  margin: 0px;
  margin-top: 25;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #0a0a0a;
  width: 50%; }

.ul-inicio .li-inicio {
  list-style: none;
  margin: 0px 20px;
  transition: 0.5s; }

.ul-inicio .li-inicio .a-inicio {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18;
  font-family: Arial, Helvetica, sans-serif;
  color: #b7f0f0;
  text-transform: uppercase;
  transition: 0.5s; }

.ul-inicio:hover .li-inicio .a-inicio {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(5px); }

.ul-inicio .li-inicio .a-inicio:hover {
  transform: scale(1.3);
  opacity: 1;
  filter: blur(0);
  color: #75b8b8;
  transition: all 0.9s; }

.ul-inicio .li-inicio .a-inicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1; }

.ul-inicio .li-inicio .a-inicio:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1); }

.box-section {
  background-color: black;
  width: 100%;
  height: 1900px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-left: 0px;
  padding-right: 0px;
  border: 4px solid #0a0a0a;
  border-radius: 10px; }

.box-section-inicio {
  background-color: black;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-left: 0px;
  padding-right: 0px;
  border: 4px solid #0a0a0a;
  border-radius: 10px; }

.box-riel-foto {
  width: 100%;
  height: 800px;
  margin-top: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
  background-color: black;
  border-radius: 10px;
  box-shadow: inset 7px 4px 77px -29px #086699; }

@media (max-width: 100%) {
  img {
    height: 600px;
    width: 100%; } }

.box-descripcion {
  width: 100%;
  height: 600px;
  margin-top: 0px;
  background-color: black;
  display: flex;
  padding-right: .5%;
  padding-left: .5%;
  position: relative; }

.box-nosotros {
  display: flex;
  width: 100%;
  height: 1500px;
  margin-top: 0px;
  margin-bottom: 4%;
  background-color: Black;
  padding-right: .5%;
  padding-left: .5%;
  position: relative;
  color: whitesmoke;
  font-size: 39px; }

.articulo {
  display: flex;
  margin-top: 0%;
  margin-bottom: 4%;
  width: 100%;
  height: 1500px;
  background-color: black;
  border-radius: 10px;
  justify-content: start;
  padding-left: 8%;
  -webkit-box-shadow: inset 7px 4px 77px -29px #086699;
  -moz-box-shadow: inset 7px 4px 77px -29px #086699;
  box-shadow: inset 7px 4px 77px -29px #086699; }

.titulo-inicio {
  display: flex;
  color: #e5eff7;
  margin-top: 3%;
  font-style: italic;
  font-size: 50px;
  position: relative; }

.footer {
  width: 100%;
  bottom: 0px;
  font-family: sans-serif; }

.footer-container {
  width: 100%;
  height: 130px;
  margin-bottom: 0px;
  background-color: black;
  border-top: 7px solid #0d2627;
  color: #2f4f4f; }

.footer-main {
  width: 98%;
  max-width: 1000px;
  margin: auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap; }

.footer-main .footer-culumna {
  width: calc(100% / 3);
  text-align: justify;
  padding: 0px; }

.footer-main .footer-culumna:nth-child(2) {
  padding: 0 20px; }

.footer-main .footer-culumna h3 {
  font-size: 20px;
  color: #2f4f4f;
  margin-bottom: 20px; }

.footer-main .footer-culumna input[type="email"] {
  border: none;
  border: 1px solid #2f4f4f;
  width: 70%;
  background: #0d2627;
  color: #000;
  font-size: 15px;
  padding: 6px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px 14px 9px 0px;
  -moz-border-radius: 12px 14px 9px 0px;
  -webkit-border-radius: 12px 14px 9px 0px; }

.footer-main .footer-culumna input[type="submit"] {
  border: none;
  margin-top: 13px;
  background: #2f4f4f;
  color: #000;
  padding: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 12px 14px 9px 0px;
  -moz-border-radius: 12px 14px 9px 0px;
  -webkit-border-radius: 12px 14px 9px 0px; }

.footer-copy {
  width: 100%;
  background: #0d2627;
  margin-bottom: 0px;
  border-top: 2px solid #2f4f4f; }

section {
  background-color: #090b11;
  width: 100%;
  height: 570px;
  display: flex;
  padding-left: 120px;
  padding-right: 120px; }

.box {
  display: flex;
  width: 100%;
  height: 80%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 13%;
  padding-right: 13%;
  border: 3px solid #131414;
  border-radius: 200px;
  background-color: black;
  font-family: Oxygen, sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #b7f0f0; }

.left {
  display: flex;
  margin-top: 80px;
  margin-right: px;
  margin-left: 15px; }

.right {
  display: flex;
  margin-top: 80px;
  margin-right: 400px;
  margin-left: 15px; }

.label {
  font-family: Oxygen, sans-serif;
  font-size: 10px;
  font-weight: 600;
  padding-left: 5px;
  color: #b7f0f0; }

.login-input {
  height: 2.1em;
  border-radius: 29px;
  border: 1px solid #70a1ff;
  padding: 13px;
  font-family: Oxygen, sans-serif;
  font-size: 19px;
  color: black;
  background-color: #9db7d8;
  margin-top: 8%; }

.login-input:hover {
  border: 2px solid #70a1ff;
  border-radius: 10px; }

.login-input:focus {
  border: 2px solid #ebebf3; }

.login-input::placeholder {
  color: #141313; }

.login-btn {
  padding: 2px 30px;
  border: 12px;
  font-size: 18px;
  border-radius: 12px;
  font-family: Oxygen, sans-serif;
  background-color: #121314;
  margin-top: 20px;
  border: 2px solid  #70a1ff;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
  color: whitesmoke; }

.login-btn:hover,
.login-btn:focus {
  background-color: #417cef;
  color: white; }

.section-body {
  width: 100%;
  height: 1900px;
  display: flex;
  position: relative;
  background-color: black;
  box-shadow: inset 3px 1px 47px -29px #086699;
  align-content: flex-start;
  padding-left: 3%;
  padding-right: 3%; }

.section-container {
  width: 100%;
  height: 1800px;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
  background-color: #070708;
  box-shadow: 3px 2px 37px -19px #086699;
  border-radius: 50px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
  padding-bottom: 2%; }

.container-1 {
  display: flex;
  width: 70%;
  height: 1750px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 1%;
  background-color: black;
  flex-direction: column;
  border-radius: 12px 0px 0px 12px; }

.container-2 {
  display: flex;
  width: 30%;
  height: 1750px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: 1%;
  background-color: black;
  flex-direction: column;
  border-radius: 0px 12px 12px 0px; }

.articulo-container {
  display: flex;
  width: 100%;
  height: 600px;
  position: relative;
  background-color: black;
  border-left: 1px solid #69d9fb;
  margin-bottom: 1%;
  color: azure; }

.asaid-right {
  display: flex;
  width: 100%;
  height: 600px;
  position: relative;
  background-color: black;
  border-left: 1px solid #69d9fb;
  margin-bottom: 2%;
  color: azure; }

.user_container {
  display: flex;
  margin-bottom: 50px;
  min-height: 700px; }

.user_container .user_left_nav {
  border-right: 1px solid #f8f8f8; }

.user_container .user_left_nav .links a {
  display: block;
  border-bottom: 1px solid #dddddd;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
  width: 280px; }

.section-container {
  display: flex;
  flex-direction: column; }

.container-encabezado-blog {
  width: 100%;
  height: 1000px;
  background-color: black; }

.titulo-blog {
  padding-top: 5%;
  padding-left: 5%;
  width: 60%;
  height: 200px;
  background-color: black;
  color: whitesmoke;
  font-size: 10px; }

.container-imagen-blog {
  width: 100%;
  height: 800px;
  background-image: url(../assets/cinemato.jpg); }

.imagen-biofoto {
  margin-left: 6%;
  margin-right: 6%;
  width: 90%;
  height: 720px;
  background-image: url(../assets/ansel.jpg); }

.titulo-biofoto {
  padding-top: 5%;
  padding-left: 5%;
  width: 60%;
  height: 200px;
  background-color: black;
  color: whitesmoke;
  font-size: 10px; }

.EN_Desarrollo {
  margin-left: 10%;
  width: 80%;
  height: 1600px;
  background-image: url(../assets/hombres_trabajando.jpg); }

.container-texto {
  width: 100%;
  height: 1600px;
  color: whitesmoke;
  background-color: black;
  font-size: 23px;
  font-family: sans-serif; }
